body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 10px;
}

#startButton {
    margin: 15px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: limegreen;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#startButton:hover {
    background-color: green;
}

#game {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    position: relative;
    height: 500px;
}

.column {
    width: 80px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #555;
    position: relative;
    overflow: hidden;
}

.colmn span {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #888;
}

.note {
    width: 80px;
    height: 20px;
    background: cyan;
    position: absolute;
    top: -20px;
    border-radius: 5px;
    box-shadow: 0 0 10px cyan;
}

#hit-zone {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-top: 2px solid #fff;
}

#score {
    margin-top: 20px;
    font-size: 24px;
}